# Ignore all files in this directory
*

# Except for this .gitignore file
!.gitignore
!README.md
!sample-train.txt
!sample-val.txt
!cycle_2t_2cw-train.txt
!cycle_2t_2cw-val.txt
!cycle_2t_2cw-test.txt
